<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="FormFactory" version="5.0.77" targetFramework="net48" />
  <package id="Selenium.Support" version="4.8.1" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.8.1" targetFramework="net48" />
</packages>